<h1><%= @dish.name %></h1>
<h2><%= @dish.chef.name %></h2>

<% @dish.ingredients.each do |ingredient| %>
    <ul>
      <li><%= ingredient.name %></li>
    </ul>
<% end %>

<p>Total Calories: <%= @dish.ingredients.total_calories %></p>
